@import "../variables";

.Alert {
    transform: translate3d(0, -100%, 0);
    padding: 5px;
    transition: all 500ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #FFF;

    &--visible { transform: translate3d(0, 0, 0); }

    &--info { background-color: $info-color; }

    &--success { background-color: $success-color; }

    &--error { background-color: $danger-color; }

}