@import "../variables";

.Button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 36px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.9, 0.9);
    }

    &[disabled] {
        opacity: 0.56;
    }

    &--primary {
        background-color: $primary-color;
        color: #FFF;
    }

    &__spinner {
        width: 30px;
        display: inline-block;
        margin-right: 5px;
    }
}