.IconButton {
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.7, 0.7);
    }

    &__icon {
        width: 18px;
    }
}