@import "../variables";

.SettingsForm {
    width: 500px;

    &__label {
        margin-top: 15px;
        display: block;
    }

    &__input {
        padding: 10px;
        border: 1px solid $input-border-color;
        border-bottom: 2px solid $input-border-color;
        width: 100%;
        resize: vertical;
        color: $input-color;
    }

    &__input:focus {
        outline: none;
        border-color: $primary-color;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
    }

    &__error {
        color: $danger-color;
        display: block;     
    }

    .Button--primary {
        width: 150px;
        margin-left: 15px;
    }
}