.SettingsForm {
    width: 500px;

    &__label {
        margin-top: 15px;
        display: block;
    }

    &__input {
        padding: 10px;
        border: 1px solid #888;
        border-bottom: 2px solid #888;
        width: 100%;
        resize: vertical;
    }

    &__input:focus {
        outline: none;
        border-color: #E87E04;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
    }

    &__error {
        color: rgb(233, 38, 38);
        display: block;     
    }

    .Button--primary {
        width: 150px;
        margin-left: 15px;
    }
}