/**
 * Cores
 **********************************/

// Cor de destaque primaria (Botões e foco)
$primary-color: #E87E04;

// Para mensagens informativas 
$info-color: #3498db;

// Para mensagens de sucesso
$success-color: #2ecc71;

// Para mensagens de erro
$danger-color: #e74c3c;

// Cor do texto dos inputs/textareas
$input-color: #000;

// Cor da borda dos inputs/textareas
$input-border-color: #888;


/**
 * Fonte
 **********************************/

$main-font-family: sans-serif;
